<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <http use-expressions="true" create-session="never" auto-config="true">
        <remember-me />
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/login" access="permitAll" />

        <intercept-url pattern="/extender/**" access="isAuthenticated()" />
        <intercept-url pattern="/home/**" access="permitAll" />
        <intercept-url pattern="/any/**" access="permitAll" />
        <intercept-url pattern="/sort/**" access="permitAll" />
        <intercept-url pattern="/nodes/**" access="permitAll" />
        <intercept-url pattern="/view/**" access="permitAll" />
        <intercept-url pattern="/**/*.png" access="permitAll" />
        <intercept-url pattern="/**/*.svg" access="permitAll" />
        <intercept-url pattern="/**/*.css" access="permitAll" />
        <intercept-url pattern="/**/*.js" access="permitAll" />
        <intercept-url pattern="/**/*.ico" access="permitAll" />

        <intercept-url pattern="/**" access="denyAll" />
        <!-- the login page is a wicket page mounted in WicketApplication.init() -->
        <form-login login-page="/login" />
    </http>
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="viewer" password="opal" authorities="supervisor, teller, user" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
    <!-- This filter is responsible for storing the SecurityContextHolder between
    requests. Also see SecureWebSession.authenticate(). -->
    <beans:bean id="securityContextPersistenceFilter"
                class="org.springframework.security.web.context.SecurityContextPersistenceFilter" />
</beans:beans>